<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
         text-decoration: none;
         background-color: aqua;
         display: inline-block;
         width:90px;
         height:50px;
         margin-top: 30px;
         font-size: 2rem;
        }
        div{
            border:3px solid blue;
            text-align: center;
            margin-top: 40px;

        }
    </style>
</head>
<body>
    <a href="{% url 'home'%}">Home</a>
    <div>
    <h1>Welcome to  services  page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, illo. Amet labore provident quam repellendus rem qui, doloribus et eligendi sequi ipsa architecto. Quis recusandae molestias blanditiis qui perferendis quidem.</p>
    </div>
    
</body>
</html>